{% extends 'base.html'%}
{% block content %}
	{% for post in posts.items %}
	<!-- END #fh5co-header -->
		<div class="container-fluid">
			<div class="row fh5co-post-entry">
					<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
						<figure>
							<a><img src="{{ url_for('static', filename='profile_images/' + post.author.avatar) }}"></a>
						</figure>
						<span class="fh5co-meta"><a>{{ post.author }}</a></span>
						<h2 class="fh5co-article-title"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
						<span class="fh5co-meta fh5co-date">{{ post.date_posted.strftime('%Y-%m-%d') }}</span>
					</article>
			</div>
		</div>	
		
	{% endfor %}
	{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}	
{% endblock %}
